<phpunit bootstrap="phpunit-bootstrap.php"  colors="true">
        <testsuite name="Deneb AllTests">
                <file>tests/Deneb/AllTests.php</file>
        </testsuite>
    <filter>
        <whitelist>
            <directory suffix=".php">Deneb</directory>
            <file>Deneb.php</file>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="coverage" charset="UTF-8"
            yui="true" highlight="true" lowUpperBound="90" highLowerBound="100"/>
    </logging>
</phpunit>
